{% extends "base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<form method="post" class="card p-4">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="mt-3">
        <button type="submit" class="btn btn-success">
            Save
        </button>

        <a href="{% url 'course_management' %}" class="btn btn-secondary">
            Cancel
        </a>
    </div>
    
</form>
<a href="{% url 'department_list' %}"
    class="btn btn-secondary mt-3">
    ← Go back
</a>
{% endblock %}
