{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Register</h2>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <script>
    const roleField = document.getElementById("id_role");

    const studentFields = [
    "id_phone", "id_date_of_birth", "id_gender",
    "id_address", "id_admission_year"
    ];

    const facultyFields = [
    "id_department", "id_designation"
    ];

    function toggleFields() {
    const role = roleField.value;

    studentFields.forEach(id => {
        const el = document.getElementById(id);
        if (el) el.closest("div").style.display =
            role === "student" ? "block" : "none";
    });

    facultyFields.forEach(id => {
        const el = document.getElementById(id);
        if (el) el.closest("div").style.display =
            role === "faculty" ? "block" : "none";
    });
    }

    roleField.addEventListener("change", toggleFields);
    window.onload = toggleFields;
    </script>
    <button class="btn btn-primary">Register</button>
</form>

<p class="mt-3">Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}
