{% extends "base.html" %}
{% block content %}
<h2>Assign Permissions - {{ faculty.username }}</h2>

<form method="POST">
    {% csrf_token %}

    {% for permission in permissions %}
        <div class="form-check">
            <input type="checkbox"
                   name="permissions"
                   value="{{ permission.id }}"
                   class="form-check-input"
                   {% if permission in faculty.permissions.all %}checked{% endif %}>
            <label class="form-check-label">
                {{ permission.name }}
            </label>
        </div>
    {% endfor %}

    <button class="btn btn-success mt-3">Save Permissions</button>
</form>

{% endblock %}