{% extends "base.html" %}
{% load static %}

{% block page_wrapper %}

<style>
.hero {
    height: 90vh;
    background: url("{% static 'images/hero.jpg' %}") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-conten: center;
    text-align: center;
    color: black;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.info-section {
    background-color: #111;
    color: white;
    padding: 60px 10%;
}
</style>

<div class="hero">
    <h1>WELCOME TO MY <br>STUDENT MANAGEMENT SYSTEM</h1>
</div>

<section class="info-section">
    <div class="row">
        <div class="col-md-6">
            <h4>CONTACT US</h4>
            <p>Email: support@sms.com</p>
            <p>Phone: +91 9876543210</p>
            <p>Address: Kolkata, India</p>
        </div>

        <div class="col-md-6">
            <h4>ABOUT PROJECT</h4>
            <p>
                This Student Management System is a Django-based web application 
                designed to manage students, faculty, courses, and departments efficiently.
                It demonstrates database modeling, role-based access, and dashboard design.
            </p>
        </div>
    </div>
</section>

{% endblock %}



