
{% extends "base.html" %}
{% block content %}

<h2>Assign Student to Batch</h2>

<form method="post" class="card p-4">
    {% csrf_token %}

     <div class="mb-3">
        {{ form.student.label_tag }}
        {{ form.student }}
    </div>

    <div class="mb-3">
        <label class="form-label">Select Batch</label>
        <select name="batch_id" class="form-select" required>
            {% for b in batches %}
                <option value="{{ b.id }}" {% if student.batch and student.batch.id == b.id %}selected{% endif %}>>
                    {{ b.program }} - {{ b.name }} ({{ b.academic_year }})
                </option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary">Assign Batch</button>
</form>

{% endblock %}
