{% extends "base.html" %}
{% block content %}

<h2>Edit Batch</h2>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Program</label>
        <input type="text" name="program" class="form-control"
               value="{{ batch.program }}">
    </div>

    <div class="mb-3">
        <label>Batch Name</label>
        <input type="text" name="name" class="form-control"
               value="{{ batch.name }}">
    </div>

    <div class="mb-3">
        <label>Academic Year</label>
        <input type="text" name="academic_year" class="form-control"
               value="{{ batch.academic_year }}">
    </div>

    <div class="mb-3">
        <label>Section</label>
        <input type="text" name="section" class="form-control"
               value="{{ batch.section }}">
    </div>

    <button class="btn btn-primary">Update Batch</button>
    <a href="{% url 'batch_list' %}" class="btn btn-secondary">Cancel</a>

</form>

{% endblock %}